@import "variables";

.app-main {
  padding: var(--global-padding);
  margin: 0 auto;
}

.app-title {
  border-bottom: 12px solid var(--app-color-font);
  margin-top: 0;
  padding-bottom: var(--global-padding);
  text-transform: uppercase;
}

@media screen and (min-width: $screen-medium) {
  main {
    width: 70%;
  }
}
