@import "variables";

.app-main {
  display: flex;
  flex-direction: column;
  padding: var(--global-padding);
  height: calc(100% - (#{var(--global-padding)} * 2));
  margin: 0 auto;
  overflow: hidden;
}

.app-title {
  border-bottom: 12px solid var(--app-color-font);
  margin-top: 0;
  padding-bottom: var(--global-padding);
  text-transform: uppercase;
}

@media screen and (min-width: $screen-medium) {
  main {
    width: 70%;
  }
}
